# Datos crudos y procesados (demasiado grandes para git)
datos/
models/

# Archivos del sistema
.DS_Store
__pycache__/
*.pyc
*.pyo

# Spark
derby.log
metastore_db/
spark-warehouse/

# Jupyter checkpoints
.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/
.env/

# Zips
*.zip
