# Runtime: Python 3.10+ — Java 8 o 11 requerido por PySpark
# Instalar con: pip install -r requirements.txt

# PySpark
pyspark==3.5.1

# NLP
nltk==3.8.1

# Datasets (descarga CC-News desde HuggingFace)
datasets==2.20.0

# Manejo de datos
pandas==2.2.2
pyarrow==16.1.0      # soporte Parquet

# Notebooks
jupyter==1.0.0
ipykernel==6.29.5
