# Runtime: Python 3.10+ — Java 8 o 11 requerido por PySpark
# Instalar con: pip install -r requirements.txt

# PySpark
pyspark==3.5.1

# NLP
nltk==3.8.1

# Datasets (descarga CC-News desde HuggingFace)
datasets==2.20.0

# Manejo de datos
pandas==2.2.2
pyarrow==16.1.0      # soporte Parquet
scikit-learn==1.5.1  # F1 por clase en Fase 4
matplotlib==3.9.1    # gráficas en Fase 5
seaborn==0.13.2      # matriz de confusión en Fase 5

# Notebooks
jupyter==1.0.0
ipykernel==6.29.5
